
services:
  nginx:
    build: ./nginx
    image: nginx:latest
    container_name: "nginx_cont"
    restart: unless-stopped
    ports:
      - 9090:80
    volumes:
      - static_volume:/Django_CICD_app/staticfiles
    
  django_service:
    image: django_app
    build:
      context: ./Django
    container_name: "django_cont"
    restart: unless-stopped
    ports:
      - 8888:8888
    expose:
      - 8888
    command: gunicorn  Django_CICD.wsgi  --bind  0.0.0.0:8888
    env_file:
      - /root/frs_cicd/environments/.env
    volumes:
      - static_volume:/Django_CICD_app/staticfiles
    depends_on:
      - db

volumes:
  static_volume: