version: '4.4'

services:
  nginx:
    build: ./nginx
    image: nginx
    container_name: "nginx_cont"
    ports:
      -80:80
  django_app:
    image: django_app
    build:
      context: ./Django
    container_name: "django_cont"
    ports:
      -8888:8888
    command: gunicorn Django_CICD.wsgi --bind 0.0.0.0:8888
