
services:    

  django_service:
    image: django_app:latest
    build:
      context: ./Django
    container_name: "django_contain"
    restart: unless-stopped
    ports:
      - 8888:8888
    expose:
      - 8888
    command: gunicorn  Django_CICD.wsgi  --bind  0.0.0.0:8888
    env_file:
      - /root/frs_cicd/environments/.env
    volumes:
      - static_volume:/Django_CICD_app/staticfiles
    networks:
        - frs-network

volumes:
  static_volume:

networks:
  frs-network:
    external: true
  