
[Unit]
Description=Jenkins Continuous Integration Server
Documentation=https://www.docker.io/doc/
After=network.target

[Service]
Type=simple
User=jenkins
#Group=jenkins
ExecStart=/usr/bin/docker run --rm -p 8888:8888 --name django_cont django_cont/django_cont:lts
Restart=always
RestartSec=10
LimitNOFILE=8192

[Install]
WantedBy=multi-user.target

#/usr/bin/docker run --rm -p 8080:8080 --name jenkins jenkins/jenkins:lts